.login {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 750px;
    height: 350px;
    margin: auto;
    background: #000;
    overflow: hidden;
}

.register-login-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right form {
    width: 600px;
    background: red;
    height: min-content;
    margin: auto;
}

.register-login-form>div {
    display: flex;
    margin: auto;
}

.register-login-form .left,
.register-login-form .right {
    flex: 1;
}

.register-login-form .left img {
    height: 100%;
}

.user-box {
    position: relative;
    width: 500px;
}

.user-box input {
    width: 100%;
    padding: 0.6rem 0;
    font-size: 1rem;
    color: var(--dark-grey);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4rem;
    border: none;
    border: 2px solid var(--light-grey);
    border-radius: var(--border-radius-1);
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 1.1rem;
    color: var(--dark-grey);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    pointer-events: none;
    transition: .5s;
}

.user-box label i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -2.5rem;
    left: 0;
    color: var(--);
    font-size: 1rem;
}

.right .submit {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

.submit button {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-1);
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 2px solid var(--light);
    background: transparent;
    transition: var(--trans2);
}

.submit button h4,
.submit button p {
    font-family: _light;
    align-items: center;
    color: var(--light);
    transition: var(--trans2);
}

.submit button:hover {
    background: var(--light);
}

.submit button:hover>h4,
.submit button:hover>p {
    color: var(--dark-grey);
}